<div class="page_title">
	<div class="wrapper">
		<h1>Reset Your Password</h1>
    </div>
</div>
<div class="wrapper">
	<form class="single inline" ng-submit="resetPassword(username, password, newPassword)">
		<label>Username:</label>
		<input type="text" ng-model="username" />
		<label>Current Password:</label>
		<input type="password" ng-model="password" />
		<label>New Password:</label>
		<input type="password" ng-model="newPassword" />
		<input type="submit" value="Change password" />
	</form>
</div>