<div class="page_title">
	<div class="wrapper">
		<h1>Reset Your Password</h1>
    </div>
</div>
<div class="wrapper">
	<form class="single inline" ng-submit="resetPassword(username, password, newPassword)">
		<label>Username: <span>required</span></label>
		<input type="text" ng-model="username" required />
		<label>Current Password: <span>required</span></label>
		<input type="password" ng-model="password" required />
		<label>New Password: <span>required</span></label>
		<input type="password" ng-model="newPassword" required />
		<input type="submit" value="Change password" />
		<div class="error_message" ng-if="errormessage">
			{{ errormessage }}
		</div>
	</form>
</div>