<div class="page_title">
	<div class="wrapper">
		<h1>Create a free account</h1>
    </div>
</div>
<div class="wrapper">
	<form class="single inline" ng-submit="createUser(email, name, username, password)">
		<label>Email Address: <span>required</span></label>
		<input type="text" ng-model="email" required />
		<label>Name: <span>required</span></label>
		<input type="text" ng-model="name" required />
		<label>Username: <span>required</span></label>
		<input type="text" ng-model="username" required />
		<label>Password: <span>required</span></label>
		<input type="password" ng-model="password" required />
		<!--
		<label>Confirm Password:</label>
		<input type="password" ng-model="confirmpassword" />
		-->
		<input type="submit" value="Register" />

		<div class="error_message" ng-if="errormessage">
			{{ errormessage }}
		</div>
	</form>
</div>