<div class="page_title">
	<div class="wrapper">
		<h1>{{ title }}</h1>
    </div>
</div>
<div class="notes">
	<div class="wrapper" ng-init="getNotesByUser()">
		<div class="note" ng-repeat="note in notes" ng-if="notes.length">
			<div class="front">
				<!--
				<div class="note_actions">
					<a href="./notes/{{ note._id }}">View</a>
					<a ng-if="currentUser.username == note.username" href="./notes/edit/{{ note._id }}">Edit</a>
				</div>
				-->
				<h1>{{ note.theirName }}</h1>
				<h2>{{ note.yourName }}</h2>
			</div>
			<div class="back">
				<div class="paper">
					<h2>{{ note.pageTitle }}</h2>
					<div class="note_content" ng-bind-html="note.pageContent"></div>
				</div>
				<a class="btn" href="./notes/{{ note._id }}">View Note</a>
			</div>
		</div>
		<div ng-if="!notes.length">
			This user either does not exist or has not created any notes yet. <a href="/notes">View notes by everyone.</a>
		</div>
	</div>
</div>
